# Yelp Data Challenge - NLP

BitTiger DS501

Jun 2017

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/last_2_years_restaurant_reviews.csv')

In [3]:
df.head()

,business_id,name,categories,avg_stars,cool,date,funny,review_id,stars,text,type,useful,user_id,count
0,--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,"[Steakhouses, Restaurants, Cajun/Creole]",4.0,0,2015-06-26,0,nCqdz-NW64KazpxqnDr0sQ,1,I mainly went for the ceasar salad prepared ta...,review,0,0XVzm4kVIAaH4eQAxWbhvw,318
1,--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,"[Steakhouses, Restaurants, Cajun/Creole]",4.0,0,2015-06-29,0,iwx6s6yQxc7yjS7NFANZig,4,Nice atmosphere and wonderful service. I had t...,review,0,2aeNFntqY2QDZLADNo8iQQ,318
2,--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,"[Steakhouses, Restaurants, Cajun/Creole]",4.0,0,2015-04-05,0,2HrBENXZTiitcCJfzkELgA,2,To be honest it really quit aweful. First the ...,review,0,WFhv5pMJRDPWSyLnKiWFXA,318
3,--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,"[Steakhouses, Restaurants, Cajun/Creole]",4.0,0,2016-02-16,0,6YNPXoq41qTMZ2TEi0BYUA,2,"The food was decent, but the service was defin...",review,0,2S6gWE-K3DHNcKYYSgN7xA,318
4,--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,"[Steakhouses, Restaurants, Cajun/Creole]",4.0,0,2016-02-08,1,4bQrVUiRZ642odcKCS0OhQ,2,If you're looking for craptastic service and m...,review,1,rCTVWx_Tws2jWi-K89iEyw,318

### Define your feature variables, here is the text of the review

In [4]:
# Take the values of the column that contains review text data, save to a variable named "documents"
df.groupby('business_id')
reviews = df[['business_id', 'text']]
reviews.head()
# the columns is text and its index is business_id

              business_id                                               text
0  --9e1ONYQuAa-CB_Rrw7Tw  I mainly went for the ceasar salad prepared ta...
1  --9e1ONYQuAa-CB_Rrw7Tw  Nice atmosphere and wonderful service. I had t...
2  --9e1ONYQuAa-CB_Rrw7Tw  To be honest it really quit aweful. First the ...
3  --9e1ONYQuAa-CB_Rrw7Tw  The food was decent, but the service was defin...
4  --9e1ONYQuAa-CB_Rrw7Tw  If you're looking for craptastic service and m...

In [5]:
# inspect your documents, e.g. check the size, take a peek at elements of the numpy array
print(reviews.shape)
reviews.head()

(348016, 2)

              business_id                                               text
0  --9e1ONYQuAa-CB_Rrw7Tw  I mainly went for the ceasar salad prepared ta...
1  --9e1ONYQuAa-CB_Rrw7Tw  Nice atmosphere and wonderful service. I had t...
2  --9e1ONYQuAa-CB_Rrw7Tw  To be honest it really quit aweful. First the ...
3  --9e1ONYQuAa-CB_Rrw7Tw  The food was decent, but the service was defin...
4  --9e1ONYQuAa-CB_Rrw7Tw  If you're looking for craptastic service and m...

### Define your target variable (any categorical variable that may be meaningful)

#### For example, I am interested in perfect (5 stars) and imperfect (1-4 stars) rating

In [6]:
# Make a column and take the values, save to a variable named "target"
df['perfect'] = (df['stars'] == 5).astype(int)
df.head()

,business_id,name,categories,avg_stars,cool,date,funny,review_id,stars,text,type,useful,user_id,count,perfect
0,--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,"[Steakhouses, Restaurants, Cajun/Creole]",4.0,0,2015-06-26,0,nCqdz-NW64KazpxqnDr0sQ,1,I mainly went for the ceasar salad prepared ta...,review,0,0XVzm4kVIAaH4eQAxWbhvw,318,0
1,--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,"[Steakhouses, Restaurants, Cajun/Creole]",4.0,0,2015-06-29,0,iwx6s6yQxc7yjS7NFANZig,4,Nice atmosphere and wonderful service. I had t...,review,0,2aeNFntqY2QDZLADNo8iQQ,318,0
2,--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,"[Steakhouses, Restaurants, Cajun/Creole]",4.0,0,2015-04-05,0,2HrBENXZTiitcCJfzkELgA,2,To be honest it really quit aweful. First the ...,review,0,WFhv5pMJRDPWSyLnKiWFXA,318,0
3,--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,"[Steakhouses, Restaurants, Cajun/Creole]",4.0,0,2016-02-16,0,6YNPXoq41qTMZ2TEi0BYUA,2,"The food was decent, but the service was defin...",review,0,2S6gWE-K3DHNcKYYSgN7xA,318,0
4,--9e1ONYQuAa-CB_Rrw7Tw,Delmonico Steakhouse,"[Steakhouses, Restaurants, Cajun/Creole]",4.0,0,2016-02-08,1,4bQrVUiRZ642odcKCS0OhQ,2,If you're looking for craptastic service and m...,review,1,rCTVWx_Tws2jWi-K89iEyw,318,0

In [7]:
df[df['business_id'] == 'hMh9XOwNQcu31NAOCqhAEw']

,business_id,name,categories,avg_stars,cool,date,funny,review_id,stars,text,type,useful,user_id,count,perfect
256704,hMh9XOwNQcu31NAOCqhAEw,Taste of India,"[Restaurants, Vegetarian, Indian]",3.5,0,2015-03-25,0,LjaIOTbBOtvoKjmqNr2ezA,4,Good lunch Buffet. I think it might have been ...,review,0,rUQnrYdzN436D4ZnbPgbvg,5,0
256705,hMh9XOwNQcu31NAOCqhAEw,Taste of India,"[Restaurants, Vegetarian, Indian]",3.5,0,2015-02-28,0,gSOM50eyb5GkVC7mwx8MWw,5,Very good food and service. I was craving a go...,review,0,ZM-Vy2qJj9j9If0Ku1Q2yw,5,1
256706,hMh9XOwNQcu31NAOCqhAEw,Taste of India,"[Restaurants, Vegetarian, Indian]",3.5,0,2015-06-04,0,CtPAPmoX42MJ_tyN7mqfGA,1,Went in for Indian food and found out that the...,review,0,E_-RZVljB9JDWdZYpJVqzQ,5,0
256707,hMh9XOwNQcu31NAOCqhAEw,Taste of India,"[Restaurants, Vegetarian, Indian]",3.5,0,2015-02-16,0,5PWZ31lBknEodrQnV0CRtw,4,"Really nice find in Vegas, and a short trip fr...",review,0,4h5GCpe-RSTgn0F9WuSB2w,5,0
256708,hMh9XOwNQcu31NAOCqhAEw,Taste of India,"[Restaurants, Vegetarian, Indian]",3.5,0,2015-01-21,0,mtyUa-eAMELfypOfGESpqw,4,I don't give 5 stars but I will say this almos...,review,1,SHjVqS5taDjYoLm-IemL9A,5,0

#### You may want to look at the statistic of the target variable

In [8]:
# Check what is the mean 'perfect' value for each business_id
df_perfect_percent = df.groupby('business_id').mean()
#df_perfect_percent.head()
print(df_perfect_percent.at['hMh9XOwNQcu31NAOCqhAEw', 'perfect'])
df_perfect_percent.head()

0.2

,avg_stars,cool,funny,stars,useful,count,perfect
business_id,,,,,,,
--9e1ONYQuAa-CB_Rrw7Tw,4.0,0.748428,0.591195,4.194969,1.018868,318.0,0.559748
-1vfRrlnNnNJ5boOVghMPA,3.0,0.357143,0.428571,3.000000,0.357143,14.0,0.285714
-3zffZUHoY8bQjGfPSoBKQ,4.0,0.571429,0.515873,3.769841,0.960317,126.0,0.420635
-8R_-EkGpUhBk55K9Dd4mg,3.5,0.485714,0.428571,3.685714,0.600000,35.0,0.400000
-9YyInW1wapzdNZrhQJ9dg,2.5,0.160000,0.300000,2.100000,0.580000,50.0,0.080000

#### The statistics should be correct

## Let's create training dataset and test dataset

In [9]:
from sklearn.cross_validation import train_test_split

/usr/local/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [10]:
# Documents is your X, target is your y
# Now split the data to training set and test set
df.head(2)
train_data = df['text'].tolist()
train_target = df['perfect'].tolist()

In [11]:
# Split to documents_train, documents_test, target_train, target_test
documents_train, documents_test, target_train, target_test = train_test_split(train_data,train_target,test_size=0.3, random_state=0)

In [12]:
# Check for the split result
#documents_train.head()
#target_train.head()
#documents_test.head()
#target_test.head()

## Let's get NLP representation of the documents

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

In [14]:
# Create TfidfVectorizer, and name it vectorizer
vectorizer = TfidfVectorizer(stop_words='english', max_features=5000)

In [15]:
# Train the model with your training data
vectors = vectorizer.fit_transform(documents_train).toarray()
words = vectorizer.get_feature_names()

In [16]:
# Get the vocab of your tfidf
words = vectorizer.get_feature_names()

In [17]:
# Use the trained model to transform your test data
target_test_pred = vectorizer.transform(documents_test)

## Similar review search engine

In [18]:
import numpy as np

# We will need these helper methods pretty soon

def get_top_values(lst, n, labels):
    '''
    INPUT: LIST, INTEGER, LIST
    OUTPUT: LIST

    Given a list of values, find the indices with the highest n values.
    Return the labels for each of these indices.

    e.g.
    lst = [7, 3, 2, 4, 1]
    n = 2
    labels = ["cat", "dog", "mouse", "pig", "rabbit"]
    output: ["cat", "pig"]
    '''
    return [labels[i] for i in np.argsort(lst)[::-1][:n]]  # np.argsort by default sorts values in ascending order

def get_bottom_values(lst, n, labels):
    '''
    INPUT: LIST, INTEGER, LIST
    OUTPUT: LIST

    Given a list of values, find the indices with the lowest n values.
    Return the labels for each of these indices.

    e.g.
    lst = [7, 3, 2, 4, 1]
    n = 2
    labels = ["cat", "dog", "mouse", "pig", "rabbit"]
    output: ["mouse", "rabbit"]
    '''
    return [labels[i] for i in np.argsort(lst)[:n]]  # np.argsort by default sorts values in ascending order

In [19]:
# Let's use cosine similarity
from sklearn.metrics.pairwise import cosine_similarity

In [20]:
# Draw an arbitrary review from test (unseen in training) documents
index = np.random.randint(0, len(documents_test))
pred = vectorizer.transform([documents_test[index]])

In [21]:
# Transform the drawn review(s) to vector(s)
pred_matrix = pred.todense()

In [22]:
# Calculate the similarity score(s) between vector(s) and training vectors
cos_similarity = cosine_similarity(pred_matrix, vectors)

In [23]:
cos_similarity.shape

(1, 243611)

In [23]:
# Let's find top 5 similar reviews
n = 5
top5reviews = get_top_values(cos_similarity[0], n, documents_train)

In [24]:
print 'Our search query:'
print(documents_train[index])

Our search query:
Ordered a Beef Salad for delivery. It was wilted to shit and inedible. It also took an hour and 1/2 to get delivered. Avoid this place.

In [25]:
print 'Most %s similar reviews:' % n
print(top5reviews)

Most 5 similar reviews:
['Great food! Authentic korean food! And free ice cream! must be here if you come to vegas!\n\nSteamed egg and kimchi is all good', "The meat quality is unparalleled.  One of the best Korean bbq restaurants I've ever been to!", 'great Korean style bbq in Las Vegas\xef\xbc\x81great beef with sauce and side dishes. Steamed egg is perfect! But the digging sources are a little bit salty.', 'Best Korean food in Las Vegas! High quality meats! So many options and so delicious!!!!! Yummmmm!!!!!!!', 'I am always looking for authentic Korean BBQ places and this spot is my favorite by far! They have so many different options for sides (the steamed egg and ttekbokki are my favorites) as well as a delicious variety of meats. The happy hour is the best with 50% off drinks and discounted food options. Will continue to keep coming back!']

#### Q: Does the result make sense to you?

A: (insert your comments here)

## Classifying positive/negative review

#### Naive-Bayes Classifier

In [26]:
# Build a Naive-Bayes Classifier

from sklearn.naive_bayes import MultinomialNB

NaiveBayesModel = MultinomialNB()
NaiveBayesModel.fit(vectors, target_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [27]:
# Get score for training set
NaiveBayesModel.score(vectors, target_train)

0.80436023003887347

In [28]:
# Get score for test set
matrix_test = vectorizer.transform(documents_test).toarray()
NaiveBayesModel.score(matrix_test, target_test)

0.80124515109429628

#### Logistic Regression Classifier

In [29]:
# Build a Logistic Regression Classifier

from sklearn.linear_model import LogisticRegression

LogisticModel = LogisticRegression()
LogisticModel.fit(vectors, target_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [30]:
# Get score for training set
LogisticModel.score(vectors, target_train)

0.83566013028968311

In [31]:
# Get score for test set
LogisticModel.score(matrix_test, target_test)

0.82630142234567305

#### Q: What are the key features(words) that make the positive prediction?

In [32]:
# Let's find it out by ranking
n = 20
shape = LogisticModel.coef_.shape
choose = LogisticModel.coef_ > 0
label = np.array(words).reshape((1,len(words)))
positive_coeff = LogisticModel.coef_[choose]
positive_label = label[choose]
get_top_values(positive_coeff, n, positive_label)

[u'amazing',
 u'best',
 u'awesome',
 u'thank',
 u'incredible',
 u'delicious',
 u'perfect',
 u'phenomenal',
 u'fantastic',
 u'perfection',
 u'gem',
 u'excellent',
 u'fabulous',
 u'favorite',
 u'outstanding',
 u'highly',
 u'bomb',
 u'hands',
 u'perfectly',
 u'heaven']

A: (insert your comments here)

#### Q: What are the key features(words) that make the negative prediction?

In [33]:
# Let's find it out by ranking
n = 20
shape = LogisticModel.coef_.shape
choose = LogisticModel.coef_ < 0
label = np.array(words).reshape((1,len(words)))
negative_coeff = abs(LogisticModel.coef_[choose])
negative_label = label[choose]
get_top_values(negative_coeff, n, negative_label)

[u'worst',
 u'horrible',
 u'bland',
 u'ok',
 u'rude',
 u'terrible',
 u'disappointing',
 u'mediocre',
 u'okay',
 u'lacked',
 u'lacking',
 u'slow',
 u'overpriced',
 u'poor',
 u'average',
 u'awful',
 u'disgusting',
 u'meh',
 u'worse',
 u'dry']

A: (insert your comments here)

#### Random Forest Classifier

In [34]:
# Build a Random Forest Classifier

from sklearn.ensemble import RandomForestClassifier

RandomForestModel = RandomForestClassifier()
RandomForestModel.fit(vectors, target_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [35]:
# Get score for training set
RandomForestModel.score(vectors, target_train)

0.99036578808017706

In [36]:
# Get score for test set
RandomForestModel.score(matrix_test, target_test)

0.77141899334323072

#### Q: What do you see from the training score and the test score?

A: (insert your comments here)

#### Q: Can you tell what features (words) are important by inspecting the RFC model?

In [37]:
n = 20
get_top_values(RandomForestModel.feature_importances_, n, words)

[u'best',
 u'amazing',
 u'great',
 u'delicious',
 u'ok',
 u'awesome',
 u'bad',
 u'good',
 u'love',
 u'vegas',
 u'favorite',
 u'place',
 u'wasn',
 u'didn',
 u'excellent',
 u'definitely',
 u'pretty',
 u'worst',
 u'friendly',
 u'highly']

## Extra Credit #1: Use cross validation to evaluate your classifiers

[sklearn cross validation](http://scikit-learn.org/stable/modules/cross_validation.html)

In [57]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB

In [58]:
# Find the best classifier
from sklearn import cross_validation
LR_Classifier = LogisticRegression()
RF_Classifier = RandomForestClassifier()
NB_Classifier = MultinomialNB()

LR_Scores = cross_validation.cross_val_score(LR_Classifier, vectors, target_train, cv=5).mean()
RF_Scores = cross_validation.cross_val_score(RF_Classifier, vectors, target_train, cv=5).mean()
NB_Scores = cross_validation.cross_val_score(NB_Classifier, vectors, target_train, cv=5).mean()

print("Logistic Regression Scores are %f" % (LR_Scores))
print("Random Forest Scores are %f" % (RF_Scores))
print("Naive Bayes Scores are %f" % (NB_Scores))

Logistic Regression Scores are 0.826592
Random Forest Scores are 0.768910
Naive Bayes Scores are 0.801450

### Logistic Regression seems to be the best estimator

## Extra Credit #2: Use grid search to find best predictable classifier


[sklearn grid search tutorial (with cross validation)](http://scikit-learn.org/stable/modules/grid_search.html#grid-search)

[sklearn grid search documentation (with cross validation)](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html#sklearn.model_selection.GridSearchCV)

In [62]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import GridSearchCV

In [64]:
# Naive Bayes Family:
# Multinomial Naive Bayes
NB_param = {"alpha": [0.5, 1, 2, 4], "fit_prior": [True, False]}
MN = MultinomialNB()
MN_grid = GridSearchCV(MN, NB_param, cv=5)  
MN_grid.fit(vectors, target_train)
print("Multinomial Naive Bayes: Best parameters set found on development set:")  
print(MN_grid.best_params_)

Multinomial Naive Bayes: Best parameters set found on development set:
{'alpha': 4, 'fit_prior': True}

In [65]:
# BernoulliNB Naive Bayes
B = BernoulliNB()
B_grid = GridSearchCV(B, NB_param, cv=5)
B_grid.fit(vectors, target_train)
print("Bernoulli Naive Bayes: Best parameters set found on development set:")  
print(B_grid.best_params_)

Bernoulli Naive Bayes: Best parameters set found on development set:
{'alpha': 0.5, 'fit_prior': True}

In [66]:
# Logistic Regression:
LR_param = {
    "penalty": ["l1", "l2"],
    "C": [0.5,1,2,4],
    "tol": [0.001,0.0001,0.00001]
}
LR = LogisticRegression()
LR_grid = GridSearchCV(LR, LR_param, cv=5)
LR_grid.fit(vectors, target_train)
print("Logistic Regression: Best parameters set found on development set:")  
print(LR_grid.best_params_)

Logistic Regression: Best parameters set found on development set:
{'penalty': 'l1', 'C': 1, 'tol': 1e-05}

In [78]:
# Random Forest:
RF_param = {
    "n_estimators": [30,50,70],
    "criterion": ["entropy","gini"],
    "min_samples_split": [5,10,50,100],
}
RF = RandomForestClassifier(n_jobs=-1, random_state = 1)
RF_grid = GridSearchCV(RF, RF_param, cv=5)
RF_grid.fit(vectors, target_train)
print("Random Forest: Best parameters set found on development set:")  
print(RF_grid.best_params_)

Random Forest: Best parameters set found on development set:
{'min_samples_split': 50, 'n_estimators': 70, 'criterion': 'entropy'}

In [68]:
# Check the scores with best parameter set for each method:

In [69]:
# MultiNomial Naive Bayes Score
MN = MultinomialNB(alpha = 4, fit_prior = True)
MN_Scores = cross_validation.cross_val_score(MN, vectors, target_train, cv=5).mean()
print("MiltiNomial Naive Bayes Score: %f" % (MN_Scores))

MiltiNomial Naive Bayes Score: 0.802172

In [70]:
# Gaussian Naive Bayes Score
G = GaussianNB()
G_Scores = cross_validation.cross_val_score(G, vectors, target_train, cv=5).mean()
print("Gaussian Naive Bayes Score: %f"% (G_Scores))

Gaussian Naive Bayes Score: 0.738809

In [71]:
# Bernoulli Naive Bayes Score
B = BernoulliNB(alpha = 0.5, fit_prior = True)
B_Scores = cross_validation.cross_val_score(B, vectors, target_train, cv=5).mean()
print("Bernoulli Naive Bayes Score: %f" % (B_Scores))

Bernoulli Naive Bayes Score: 0.715624

In [72]:
# Logistic Regression
LR = LogisticRegression(penalty="l1", C = 1, tol = 0.00001)
LR_Scores = cross_validation.cross_val_score(LR, vectors, target_train, cv=5).mean()
print("Logistic Regression Score: %f" % (LR_Scores))

Logistic Regression Score: 0.826781

In [79]:
# Random Forest
RF = RandomForestClassifier(min_samples_split = 50, n_estimators = 70, criterion='entropy')
RF_Scores = cross_validation.cross_val_score(RF, vectors, target_train, cv=5).mean()
print("Random Forest Score: %f" % (RF_Scores))

Random Forest Score: 0.801130

In [80]:
print("MiltiNomial Naive Bayes Score: %f" % (MN_Scores))
print("Gaussian Naive Bayes Score: %f"% (G_Scores))
print("Bernoulli Naive Bayes Score: %f" % (B_Scores))
print("Logistic Regression Score: %f" % (LR_Scores))
print("Random Forest Score: %f" % (RF_Scores))
maxScore = max(MN_Scores, max(G_Scores, max(B_Scores, max(LR_Scores, RF_Scores))))
if maxScore == MN_Scores:
    print('MultiNomial Naive Bayes is the best')
elif maxScore == G_Scores:
    print('Gaussian Naive Bayes is the best')
elif maxScore == B_Scores:
    print('Bernoulli Naive Bayes is the best')
elif maxScore == LR_Scores:
    print("Logistic Regression is the best")
else:
    print("Random Forest is the best")

MiltiNomial Naive Bayes Score: 0.802172
Gaussian Naive Bayes Score: 0.738809
Bernoulli Naive Bayes Score: 0.715624
Logistic Regression Score: 0.826781
Random Forest Score: 0.801130
Logistic Regression is the best